$pink: #FF2CDF;
$purple: #704EF4;
$blue: #2CFFFF;
$white: #ffffff;
$black: #0E1621;

$topLight: $pink;
$bottmLight: $purple;
$textLight: $pink;
$bgLight: $white;

$topDark: $purple;
$bottmDark: $blue;
$textDark: $purple;
$bgDark: $black;

@mixin gradientLight {
  @apply text-transparent bg-clip-text bg-gradient-to-b from-[#FF2CDF] to-[#704EF4];
}

@mixin gradientReverseLight {
  @apply text-transparent bg-clip-text bg-gradient-to-b from-[#704EF4] to-[#FF2CDF];
}

@mixin gradientDark {
  @apply text-transparent bg-clip-text bg-gradient-to-b from-[#704EF4] to-[#2CFFFF];
}

@mixin gradientReverseDark {
  @apply text-transparent bg-clip-text bg-gradient-to-b from-[#2CFFFF] to-[#704EF4];
}

@mixin heartBeat {
  animation: beat 1s infinite alternate;
  transform-origin: center;
}

@keyframes beat {
  to {
    transform: scale(1.1);
  }
}