.button {
  @apply w-[180px] md:w-[190px] lg:w-[200px] bg-opacity-[0.2] rounded-full;

  transition: all .4s ease-out;



}

.heart {
  animation: beat 0.75s infinite alternate;
  transform-origin: center;
}

.hidden {
  opacity: 0;
}

@keyframes beat {
  to {
    transform: scale(1.1);
  }
}